html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(59, 35, 119);
}
h1 {
  color: white;
}

.github-link {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  background-color: rgb(100, 100, 100);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.github-link:hover {
  background-color: rgb(150, 150, 150);
}
canvas {
  margin: 1rem;
  border-radius: 10px;
}
.control-panel {
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  margin: 1rem;
  background-color: rgb(200, 200, 200);
  border-radius: 0.5rem;
  position: relative;
}
.life-header,
.pong-header {
  font-family: sans-serif;
  margin: 0.2rem;
  font-size: 1rem;
  text-align: center;
}

.life-info {
  color: white;
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  background-color: rgb(100, 100, 100);
  border-radius: 100%;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  text-decoration: none;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(100, 100, 100);
  color: white;
  cursor: pointer;
}
